body{
	position: relative;
	/* background: url(../img/svg/be.svg);*/
	background: grey;
	overflow: hidden;
	font-family: "Chaparral Pro Regular";
	font-size: 15pt;
}

.container:before,
.container:after{
	content: "";
	display: table;
}

.container:after{
	clear: both;
}



.nav-container{
	position: fixed;
	margin-top: -0.40%;
	margin-left: -0.40%;
	width: 31.00%;
	height:100%;
	border:none;
	background:black;
}

.nav-content{
	float: left;
	width: 88.89655172413793%;
	text-align: justify;
	background: orange;
	margin-left: 4.40%;
	box-shadow: 2px 2px 4px white;
	text-align: center;
}

.social-content{
	float: left;
	width: 16.482758620689655%;
	text-align: center;
	border: none;
	margin-top: -9%;
	margin-left: 16%;	

}

.slider-container{
	position: absolute;
	margin-top: 2%;
	margin-left: 40.00%;
	width: 51.20%;	
}

.slider-content{
	float: left;
	width: 100%;
	color: white;
}

.info-container{
	position: absolute;
	margin-top: 27.00%;
	margin-left: 42.50%;
	width: 20.00%;
}

.info-content{
	float: left;
	width: 100%;
	color: black;
}

.res-container{
	position: absolute;
	margin-top: 31.50%;
	margin-left: 67.50%;
	width: 20%;
}

.res-content{
	float: left;
	width: 100%;
	color: white;
}

ul,li,a{
	text-decoration: none;
	padding: 0;
	list-style-type: none;
	display: block;
	color:white;
	text-align: left;
	border: 1px solid #333;
	padding-top: 50px;
	margin-bottom: 10px;	
}



li{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}
ul li:hover{
	color: blue;
	transition: color 0.9s;
}

img, video, canvas {
  max-width: 100%;
}

i{
	padding-left: 10px;
	padding-right: 10px;
}

h2{
	font-family: "Chaparral Pro Bold Italic";
	font-size: 21pt;
}

p{
	padding-left:20px;
}

